<footer class="footer bg-dark text-white text-center py-4 mt-auto">
  <div class="container text-center">
    <p class="mb-1">
      &copy; {{ currentYear }} Vivacity Tech. All rights reserved.
    </p>
    <p class="mb-0 d-flex align-items-center justify-content-center">
      <img
        src="assets/favicon/favicon.svg"
        alt="HOPE Logo"
        class="logo"
        height="20"
        width="20"
        class="me-2"
      />
      HOPE - Dream Device Companion
    </p>
  </div>
</footer>
